<div class="add-theme-wrapper">
  <form class="add-theme-form">
    <h2>Create New Theme</h2>

    <div class="form-group">
      <label for="themeName">Theme Name</label>
      <input id="themeName" type="text" placeholder="Enter theme name" #inputThemeName/>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input id="description" rows="4" placeholder="Enter theme description" #inputPostText/>
    </div>

    <button (click)="addTheme($event, inputThemeName.value, inputPostText.value)" type="submit" class="btn-add">Create Theme</button>
  </form>
</div>
