
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.form-group{
    margin-top: 20px;
    cursor: pointer;
}
.form-control{
    margin-left: 10px;
}