<div class="container">
    <form class="login-form" #loginForm="ngForm" (ngSubmit)="formSubmitHandler()">
      <h2>Welcome Back</h2>
  
      <div class="form-group">
        <label for="email">Email</label>
        <input 
            class="form-control"  
            id="email" 
            type="email" 
            name="email" 
            ngModel 
            required
            #emailInput="ngModel" />
      </div>
  
      <div class="form-group">
        <label for="password">Password</label>
        <input 
            class="form-control" 
            id="password" 
            type="password" 
            name="password" 
            required
            ngModel 
            #passwordInput="ngModel" />
      </div>
  
      <button type="submit" class="btn">Login</button>
  
      <p class="register-link">Don't have an account? <a href="/register">Register</a></p>
    </form>
  </div>
  

