<div class="container">
    <form (ngSubmit)="formSubmitHandler()" action="">
        <h3>Login Form</h3>
            <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email"
            required>
            </div>
            <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password">
            </div>
            <button class="btn">Login</button>
    </form>
</div>

