<div class="container">
    <form action="">
        <div class="form-group">
            <label for="processor">Proccessor</label>
            <input type="text" class="form-control" id="processor"
            required>
            </div>
            <div class="form-group">
            <label for="ram">RAM</label>
            <input type="text" class="form-control" id="ram"
            required>
            </div>
            <div class="form-group">
            <label for="hardDisk">Hard Disk (GB)</label>
            <input type="number" class="form-control" id="hardDisk">
            </div>
    </form>
</div>

