<div class="container">

    <form [formGroup]="registerForm" (ngSubmit)="handleSubmit()" action="" method="post">
      
      <fieldset>
        <h1>Registration Form</h1>
  
        <!-- if error -->
        <!-- <p class="error">
          Message for Error
        </p> -->
        <!-- end if error -->
        
        <p class="field field-icon">
          <label for="email"><span><i class="fas fa-envelope"></i></span></label>
          <input 
            type="text" 
            name="email" 
            id="email" 
            formControlName="email"
            placeholder="your email"
            />
        </p>

        @if(registerForm.get('email')?.touched){
          <div>
            @if(registerForm.get('email')?.errors?.['required']){
            <div style="color: red">Email is required!</div>
            }
            <!--  -->
            @if(registerForm.get('email')?.errors?.['email']){
            <div style="color: red">Email is not VALID!</div>
            }
          </div>
          }

        <p class="field field-icon">
          <label for="password"><span><i class="fas fa-lock"></i></span></label>
          <input 
            type="password" 
            name="password" 
            id="password" 
            formControlName="password"
            placeholder="***"
            />
        </p>
  
        <p>
          <button>Create Account</button>
        </p>
        
        <p class="text-center">
          Have an account?
          <a href="">Log In</a>
        </p>
        
      </fieldset>
    </form>
  </div>
