<div class="login-wrapper">
  <form class="login-form" #form="ngForm" (ngSubmit)="login(form)">
    <h2>Welcome Back</h2>

    <div class="form-group">
      <label for="email">Email</label>
      <input 
        id="email" 
        type="email" 
        name="email" 
        placeholder="Enter your email" 
        ngModel
        #inputEmail="ngModel" 
        required
        [appEmail]="domains"
        />
    </div>

    @if (inputEmail?.touched) {
      <div>
        @if (inputEmail?.errors?.['required']) {
          <p>Email is required!</p>
        }

        @if (inputEmail?.errors?.['emailValidator']) {
          <p>Email is not valid!</p>
        }
      </div>
    }

    <div class="form-group">
      <label for="password">Password</label>
      <input 
        id="password" 
        type="password" 
        name="password" 
        placeholder="Enter your password" 
        ngModel 
        #inputPassword
        />
    </div>
    <p class="error">
        Password is required!
    </p>
    <p class="error">
        Password must be at least 4 characters!
    </p>

    <button type="submit" class="btn-login">Login</button>

    <p class="register-link">Don't have an account? <a href="/register">Register</a></p>
  </form>
</div>
